.jumbotron {
    text-align: center;
    background: none;
}

.bg-light {
    background: none!important;
}

.jumbotron p {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

.py-5 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}


.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}


.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.waveImg {
    width: 18%;

}


.learnMoreWrapper {
    margin-top: 30px;

}

button.learnMoreBtn {
/*
    background-color: #212529;
    color: #ffffff;
*/
    display: block;
    margin: auto;
/*    border: 3px solid #0c2233;*/

}

.logoModalImg {
    display: block;
    margin: auto;
}


/*
h5.modal-title {
    margin: auto;
}*/


.modalFormWrapper {
    margin-top: 3rem;
}
